﻿body  {font-family: "";font-size:9pt;background-color:#ffffff;margin-left:0pt;margin-top:0pt}
td,input,select {font-family:;font-size:9pt; color:#000000}

.p9   {font-size: 9pt}
.p9t   {line-height:18px}
.p9y  {color:#ffffd0}
.p9w  {color:#ffffff}
.p9r  {color:#ff0000}

A:link{text-decoration: none; color: blue}
A:active,A:visited {text-decoration: none; color: blue}
A:hover {text-decoration: underline; color:blue}
A.r:link{text-decoration: none; color: blue}
A.r:active,A.r:visited{text-decoration: none; color: blue}
A.r:hover {text-decoration: underline; color:blue}
A.w:link{text-decoration: none; color: blue}
A.w:active,A.w:visited {text-decoration: none; color: blue}
A.w:hover {text-decoration: underline; color:blue}
A.b:link{text-decoration: none; color: blue}
A.b:active,A.b:visited{text-decoration: none; color: blue}
A.b:hover {text-decoration: underline; color:blue}