﻿


 /*customerService*/
 #CustomerService {float:right; position:absolute; padding:2px; width:139px; visibility:hidden; z-index:999 }
 .OnlineList { width:107px; background:#fff; border:1px solid #bfe3aa }
 .OnlineList li { text-align:left; line-height:22px; height:22px; margin-top:3px}
 .ServiceContent { }
